<%- model_class = Issue -%>
<div class="page-header">
  <h1><%=t '.title', :default => Issue %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:insert_date) %></th>
      <th><%= model_class.human_attribute_name(:component) %></th>
      <th><%= model_class.human_attribute_name(:feature) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:note) %></th>
      <th><%= model_class.human_attribute_name(:accepted) %></th>
      <th><%= model_class.human_attribute_name(:accepted_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.id %></td>
        <td><%= issue.insert_date %></td>
        <td><%= issue.component %></td>
        <td><%= issue.feature %></td>
        <td><%= issue.description %></td>
        <td><%= issue.note %></td>
        <td><%= issue.accepted %></td>
        <td><%= issue.accepted_at %></td>
        <td><%=l issue.created_at, format: :long %></td>
        <td>
          <%= link_to issue_path(issue), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to issue_path(issue), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_issue_path,
            :class => 'btn btn-primary' %>
