<%= form_for(@enviroment) do |f| %>
  <% if @enviroment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enviroment.errors.count, "error") %> prohibited this enviroment from being saved:</h2>

      <ul>
      <% @enviroment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_field :descrizione %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :issue_id %><br>
    <%= f.text_field :issue_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
