<h1>Listing enviroments</h1>

<table>
  <thead>
    <tr>
      <th>Descrizione</th>
      <th>Address</th>
      <th>Project</th>
      <th>Issue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enviroments.each do |enviroment| %>
      <tr>
        <td><%= enviroment.descrizione %></td>
        <td><%= enviroment.address %></td>
        <td><%= enviroment.project %></td>
        <td><%= enviroment.issue %></td>
        <td><%= link_to 'Show', enviroment %></td>
        <td><%= link_to 'Edit', edit_enviroment_path(enviroment) %></td>
        <td><%= link_to 'Destroy', enviroment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enviroment', new_enviroment_path %>
