<h1>Listing solutions</h1>

<table>
  <thead>
    <tr>
      <th>Implemented</th>
      <th>Implemented at</th>
      <th>Effort</th>
      <th>Solved</th>
      <th>Solved at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.implemented %></td>
        <td><%= solution.implemented_at %></td>
        <td><%= solution.effort %></td>
        <td><%= solution.solved %></td>
        <td><%= solution.solved_at %></td>
        <td><%= link_to 'Show', solution %></td>
        <td><%= link_to 'Edit', edit_solution_path(solution) %></td>
        <td><%= link_to 'Destroy', solution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_solution_path %>
